
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: hsl(0, 0%, 96%);
    color: #0e0d0c;
    user-select: none;
}

button {
    color: #FDFDFD;
    background-color: #7243CD;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
}

button:hover {
    background-color: #402773;
    cursor: pointer;
}
#task-details {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}
.head{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
a{
    text-decoration: none;
    color:#FDFDFD;
}